<p id="notice"><%= notice %></p>

<h1>Museum Visitors Report</h1>

<%= form_tag tickets_path, :method => 'get' do %>
    <div >
      <%= datetime_field_tag :search,Time.new( 2015, 12, 12, 12, 20, 00 ), min: '2015-12-01T09:00:00+0000', max: '2015-12-30T18:00:00+0000' %>
      <%= submit_tag 'search' %>
    </div>
<% end %>

<table>

  <tbody>
  <br>
  <p>Total Members inside museum is : <b><%=@tickets%></b></p>
  <p>at the time of : <%=  params[:search] %> </p>

  </tbody>
</table>

<br>

<%#= link_to 'New Ticket', new_ticket_path %>
