<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket:</strong>
  <%= @ticket.ticket_id %>
</p>

<p>
  <strong>Event type:</strong>
  <%= @ticket.event_type %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @ticket.timestamp %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
